/* Estilos generales */
html, body {
    margin: 0;
    padding: 0;
    background-color: #3e3b57;
    overflow-x: hidden;
    font-family: 'Times New Roman', Times, serif;
}

/* Menú de navegación */
nav {
    background-color: rgb(60, 0, 95);
}

.eagle-lake-regular {
    font-family: "Eagle Lake", serif;
    font-weight: 400;
    font-style: normal;
  }
  

#menu ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding: 0;
    background-color: rgb(52, 0, 95);
}

#menu ul li, #menu ul a {
    flex-grow: 1;
    text-align: center;
    padding: 10px;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-decoration: none;
    font-size: 15px;
}

#menu ul li:hover {
    background: rgb(78, 0, 151);
}

#menu ul ul {
    display: none;
    position: absolute;
    top: 100%;
    width: 100%;
    background: rgb(60, 0, 95);
}

#menu ul li:hover > ul {
    display: block;
}

#menu ul ul li:hover {
    background: rgb(96, 0, 151);
}

/* Header */
header {
    background-image: url(https://i.pinimg.com/originals/5f/00/96/5f009674bb012f8e26ea43dad4abdd00.gif);
}

.contenedor {
    display: flex;
    justify-content: center;
    align-items: center;
}

.icono, .logo, .registro {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Horóscopo semanal */
.horoscopo_semanal {
    display: flex;
    margin: 50px auto;
    width: 75%;
    height: 600px;
    justify-content: center;
}

.horoscopo_semanal a img {
    width: 150px;
    height: 100%;
    flex-grow: 1;
    object-fit: cover;
    border-radius: 10px;
    opacity: 0.8;
    transition: 0.5s ease;
}

.horoscopo_semanal a img:hover {
    cursor: crosshair;
    width: 300px;
    opacity: 1;
    filter: contrast(120%);
}

/* Títulos */
.titulo_horoscopo {
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/***************************************************************************/
/* Estilo básico para la sección info1 */
.info1 {
    width: 100%;
    overflow: hidden;
    background-color: #f4f4f4;
    border: 1px solid #ddd;
    padding: 10px;
    position: relative;
  }
  
  /* Contenedor de noticias */
  .news-container {
    position: relative;
    height: 50px; /* Altura fija para mostrar solo una noticia a la vez */
  }
  
  /* Cada noticia individual */
  .news-item {
    font-size: 16px;
    color: #333;
    padding: 10px 0;
    text-align: center;
    opacity: 0;
    position: absolute;
    width: 100%;
    transition: opacity 1s ease-in-out;
  }
  
  /* Clase activa para la noticia visible */
  .news-item.active {
    opacity: 1;
  }
  