/* Estilos generales */
html, body {
    margin: 0;
    padding: 0;
    background-color: #3e3b57;
    overflow-x: hidden;
    font-family: 'Times New Roman', Times, serif;
}

/* Menú de navegación */
nav {
    background-color: rgb(60, 0, 95);
}


#menu ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding: 0;
    background-color: rgb(52, 0, 95);
}

#menu ul li, #menu ul a {
    flex-grow: 1;
    text-align: center;
    padding: 10px;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-decoration: none;
    font-size: 15px;
}

#menu ul li:hover {
    background: rgb(78, 0, 151);
}

#menu ul ul {
    display: none;
    position: absolute;
    top: 100%;
    width: 100%;
    background: rgb(60, 0, 95);
}

#menu ul li:hover > ul {
    display: block;
}

#menu ul ul li:hover {
    background: rgb(96, 0, 151);
}

/* Header */
header {
    background-image: url(https://i.pinimg.com/originals/5f/00/96/5f009674bb012f8e26ea43dad4abdd00.gif);
}

.contenedor {
    display: flex;
    justify-content: center;
    align-items: center;
}

.icono, .logo, .registro {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Horóscopo semanal */
.horoscopo_semanal {
    display: flex;
    margin: 50px auto;
    width: 75%;
    height: 600px;
    justify-content: center;
}

.horoscopo_semanal a img {
    width: 150px;
    height: 100%;
    flex-grow: 1;
    object-fit: cover;
    border-radius: 10px;
    opacity: 0.8;
    transition: 0.5s ease;
}

.horoscopo_semanal a img:hover {
    cursor: crosshair;
    width: 300px;
    opacity: 1;
    filter: contrast(120%);
}

/* Títulos */
.titulo_horoscopo {
    text-align: center;
    font-size: 50px;
    font-weight: bold;
}
.eagle-lake-regular {
    font-family: "Eagle Lake", serif;
    font-weight: 400;
    font-style: normal;
}



/***************************************************************************/
/* Estilo básico para la sección info1 */
.info1 {
    width: 100%;
    height: 500px;
    overflow: hidden;
    background-color: #4a3f7e; /* Cambié el color de fondo a un tono púrpura oscuro */
    background-image: url(https://img1.picmix.com/output/stamp/normal/0/3/4/9/1749430_8d101.gif);
    /*background-size: cover;*/
   /* border: 1px solid #ddd;*/
    padding: 10px;
    position: relative;
    color: #fff; /* Cambié el color del texto a blanco */
    text-align: center; /* Centré todo el texto dentro del contenedor de noticias */
}

/* Contenedor de noticias */
.news-container {
    position: relative;
    height: 50px; /* Altura fija para mostrar solo una noticia a la vez */
}

/* Cada noticia individual */
.news-item {
    margin-left: 10px;
    font-size: 13px;
    color: #fff; /* Cambié el color del texto de las noticias a blanco */
    padding: 10px 0;
    opacity: 0;
    position: absolute;
    width: 100%;
    transition: opacity 1s ease-in-out;
    float: left;
    text-align: center; /* Centré el texto de cada noticia */
}

/* Imágenes dentro de las noticias */
.news-item img {
    float: right;
    height: 150px; /* Ajusté el tamaño de la imagen */
    width: 250px;  /* Ajusté el tamaño de la imagen */
    border-radius: 10px; /* Añadí bordes redondeados */
}

/* Clase activa para la noticia visible */
.news-item.active {
    opacity: 1;
}

/*footer*/
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    margin-top: 20px;
}

footer a {
    color: #fff;
    text-decoration: none;
    margin: 0 15px;
}

footer a:hover {
    text-decoration: underline;
}
